<h1>Posts are coming soon!</h1>
 <%= render "shared/user_data"%>
 <div class="posts-container">
  <% @latest_posts.each do |post, index = 0| %>
    <%= link_to post_path_url(post.author_id), :class => 'post-button' do %>
      <div class="post-card">
        <h2><%= index + 1 %></h2>
        <p><%= post.text %></p>
        <span>Comments: <%= post.comments_counter %></span>
        <span>Likes: <%= post.likes_counter %></span>
      </div>
    <% end %>
    <% @latest_comments.each do |comment| %>
      <h2><%= comment.text %></h2>
    <%end%>
  <% end %>
 </div>