<h1>Showing Posts!</h1>
<div class="posts-container">
  <div class="post-data">
    <div class="post-title">
      <h2>Post #<%= @post.id %> by <%=@user.name%></h2>
      <span>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
    </div>
    <h4><%= @post.title %><h4>
    <p><%= @post.text %></p>
  </div>
  <% if @post.recent_comments.length > 0 %>
    <div class="comments-container">
      <% @post.recent_comments.each do |comment| %>
        <h4><%= comment.author_id %>:<%= comment.text %></h4>
      <% end %>
    </div>
  <%end%>

</div>